.contact-container{
    background-color: #FAF9F6;
    height: 100vh;
    
}

.contact-title-container{
    text-align: center;
}

.main-container{
    display: flex;
}

.description-container{
    display: inline-block;
    width: 45%;
    margin: 70px 100px 100px 100px;
    background-color: black;
    
}

.contact-info{
    margin: 70px 0px 0px 100px;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    color: white;
}

.contact-info2{
    margin: 50px 0px 70px 100px;
    font-size: 2.8em;
    text-align: center;
    color: white;
}

.links-container{
    margin: 200px 0px 0px 10px;
    width: 60%;
    

}

.contact-link{
    margin: 50px 0px 0px 30px;
    border: 1px solid black;
}


.phone-number{
    text-align: start;
    margin-right: 220px;
    font-size: 3em;
}

.email{
    text-align: start;
    margin-right: 130px;
    font-size: 3em;
}

.email:hover{
    cursor: pointer;
}







