
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';

}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FAFDF3;
  background: url('./assets/cows.jpg') no-repeat center center/cover;

}





