.navbar{
    display: flex;

}

.logo{
    width: 250px;
    height: auto;
    border-radius: 700px;
    margin: 20px;
}

nav{
    margin-left: auto;
    margin-right: 50px;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}


nav a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    background-color: rgb(162, 2, 2);
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0 0 5px black;
}

nav a:hover{
    font-weight: bold;
}