.navbar{
    display: flex;
    width: 100%;
    
}
.navbar.transparent{
    background-color: transparent;
}

.navbar.gradient{
    background-image: linear-gradient(#EED7C5, #FAF9F6);
}

.navbar-container{
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 50px;
}

.logo{
    width: 180px;
    height: auto;
    border-radius: 700px;
    margin: 20px;
}

nav{
    margin-left: auto;
    margin-right: 50px;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    gap: 20px;

}


nav a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    background-color: rgb(162, 2, 2);
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0 0 5px black;
}

nav a:hover{
    font-weight: bold;
}